.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f1f2;
  min-height: 100vh;
}

.card {
  background-color: aliceblue !important;
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  max-width: 35rem;
  padding: 1%;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  justify-content: center;
}
.button {
  flex-basis: 25%;
  flex-wrap: wrap;
}

.text-field {
  display: flex;
  padding: 1rem;
  background-color: #accf8d;
  border: 2px solid lightgray !important;
  font-size: 1.2rem;
  overflow: auto;
}
