.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f1f2;
  min-height: 100vh;
}

.card {
  background-color: aliceblue !important;
  display: flex;
  flex-direction: column;
  min-width: 8rem;
  max-width: 35rem;
  border-radius: 0 !important;
  padding: 1%;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.button {
  flex-basis: 25%;
  justify-content: space-around;
}

.text-field {
  display: flex;
  flex-wrap: wrap;
  padding:0.5rem;
  background-color: #accf8d;
  border: 2px solid gray !important;
  font-size: 1.5rem;
  overflow: auto;
}

